<%= form_with(model: current_address, local: true) do |form| %>
  <% if current_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_address.errors.count, "error") %> prohibited this current_address from being saved:</h2>

      <ul>
      <% current_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
