<p id="notice"><%= notice %></p>

<h1>Work Locations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_locations.each do |work_location| %>
      <tr>
        <td><%= work_location.address %></td>
        <td><%= link_to 'Show', work_location %></td>
        <td><%= link_to 'Edit', edit_work_location_path(work_location) %></td>
        <td><%= link_to 'Destroy', work_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Location', new_work_location_path %>
