<%= form_with(model: current_total_cost, local: true) do |form| %>
  <% if current_total_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_total_cost.errors.count, "error") %> prohibited this current_total_cost from being saved:</h2>

      <ul>
      <% current_total_cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
